<!DOCTYPE html>
<html lang="en">
<head>
	<title> ayy LMAOkai </title>

<style>
	h1 {
		margin-top:0px;
		margin-bottom:0px;
		display: inline-block;
		width: 40%;
		font-size: 30px;
	}
	h2 {
		font-size: 20px;
		margin-bottom:0px;
	}
	body {
		background-color: #FFDEAD;
	}
	p {
		margin-top:0px;
	}
</style>
</head>

<body> 
	{{{body}}}
</body> 
</html>