<h1> Please enter your summoner name </h1>
<div>
	<form action="/search" method="get">
		<input type="text" id="summoner" name="summoner" placeholder="something">
		<input type="submit" value="Look up summoner">
	</form>
	{{incorrect}}
</div>